@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;600;700;800;900&family=Raleway:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  font-family: "Raleway", sans-serif;
}

.candidate-page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.header {
  width: 100vw;
  height: 15vh;
  background-color: blue;
}
.candidate-page .name-footer {
  bottom: 0;
  width: 100vw;
  height: 8vh;
  background: #265f9d 0% 0% no-repeat padding-box;
  border: 0.4727528691291809px solid #265f9d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.candidate-page .candidate-container {
  width: 90vw;
  height: 74vh;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  margin: 10px 30px 10px 60px;
}
.candidate-page .candidate-container .candidate-navbar {
    width: 90vw;
    height: 10vh;
    background: #E3F0FF 0% 0% no-repeat padding-box;
   border-radius: 10px 10px 0px 0px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;

}