@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;600;700;800;900&family=Raleway:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    font-family: 'Raleway', sans-serif;}

.candidate-page {
    width: 100%;
    height: 100vh;
}

.header {
    width: 100%;
    height: 15%;
    background-color: blue;
}
.candidate-page .name-footer {
    bottom: 0;
    width: 100%;
    height: 10%;
    background: #265F9D 0% 0% no-repeat padding-box;
    border: 0.4727528691291809px solid #265F9D;
    display: flex;
    justify-content: center;
    align-items: center;
}