/* .right-sidebar {
    position: fixed;
    top: 39%;
    right: 0;
    display: flex;
    width: 30px;
    height: 200px;
    border-radius: 50px 0 0 50px;
    background: #535353 0% 0% no-repeat padding-box;
    justify-content: end;
    align-items: center;
  }
  .right-sidebar img{
    color: white;
    transform: rotate(90deg);
    font-size: 4px;
    font-family: sans-serif;
  } */

  .right-sidebar {
    position: fixed;
    top: 39%;
    right: 0;
    display: flex;
    width: 30px;
    height: 200px;
    border-radius: 50px 0 0 50px;
    background: transparent linear-gradient(180deg, #535353 0%, #535353 100%) 0%
      0% no-repeat padding-box;
    justify-content: start;
  }
  .right-sidebar img {
    width: 150px;
    height: 160px;
    margin-left: 5px;
    margin-bottom: 20px;    
  }