*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.userHeader{
    width: 100%;
    height: 90px;
    border: 1px solid black;
}
.usermanagementmain{
    width: 90%;
    height: 100vh;
    border: 1px solid black;
}
.usermanagementmaindiv{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}